{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="team-selection">
        <h3>팀 선택</h3>
        <div class="team-buttons">
            {% for team in teams %}
            <button class="team-button" onclick="loadTeam({{ team.t_id }})">{{ team.t_name }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="center-content">
        {% if current_team %}
        <div class="logo-container">
            <img src="{{ url_for('static', path=current_team.t_logo) }}" alt="{{ current_team.t_name }} Logo" class="logo-image">
        </div>
        <h1>{{ current_team.t_name }}</h1>
        <div class="team-intro">
            <p>{{ current_team.t_intro }}</p>
            <p>{{ current_team.t_descript }}</p>
            <a href="{{ current_team.t_git }}" target="_blank">GitHub</a>
        </div>
        {% else %}
        <h1>팀을 선택해주세요</h1>
        {% endif %}
    </div>
</div>

<div class="team-members">
    {% for member in team_members %}
    <div class="member-slot">
        <h3>{{ member.u_name }}</h3>
        <a href="{{ url_for('resume', user_id=member.u_id) }}" target="_blank">
            <img src="{{ url_for('static', path=member.u_image) }}" alt="{{ member.u_name }}">
        </a>
    </div>
    {% endfor %}
</div>

<script>
function loadTeam(teamId) {
    window.location.href = `/team/${teamId}`;
}
</script>
{% endblock %}